* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 20px/1 sans-serif;
    padding: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

img {
    width: 100%;
}


.wrapper { 
    display: grid;
    border: 10 px solid line black;
    margin: 0 auto;
    max-width: 70rem;
    width: 90%;
}


.projects{
    display: grid;
    border: solid black;
    justify-content: right;
    padding: 35px;
    grid-gap: 30px; 
    align-items: flex-start; 
    align-items: right;
    grid-template-rows: auto auto; 
    text-emphasis-color: white;
    background-color: lightgray;
}



.contact-info{
    display:grid;
    border: 5px solid black;
    grid-template-columns: auto auto ; 
    background-color: lightgray;

}

.about-me{
    display:grid;
    border: 5px solid black;
    grid-template-columns: auto auto;
    background-color: lightgray;
}
